@using MVC.Models
@using Pacotes

@{
    ViewData["Title"] = "Cadastro";

}
    <h2>
        Cadastro
    </h2>
    
    <form asp-action="" method="POST">
        <p>
            <label asp-for="NomePacote">Pacote: </label>
            <input asp-for="NomePacote" />
        </p>
        <p>
            <label asp-for="Valor">Valor: </label>
            <input asp-for="Valor" />
        </p>
        <p>
            <label asp-for="Descricao">Descrição: </label>
            <input asp-for="Descricao" />
        </p>
        <p>
            <label asp-for="Observacao">Observação: </label>
            <input asp-for="Observacao" />
        </p>

        <input type="submit" value="Cadastrar"/>
    </form>