@using MVC.Models
@using Pacotes

@{
    ViewData["Title"] = "Cadastro";

}
    <h2>
        Cadastro
    </h2>
    
    <form asp-action="" method="POST">
    <p>
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome" />
    </p>
