@{
  ViewData["Title"] = "Destino";
}


<h2>Destinos</h2>

<div>
    <dl>
        <dt>Fortaleza</dt>
        <dd>Viage acompanhado para Fortaleza e visite todos os locais turisticos que tem pra visitar</dd>
        <dd> R$ 1075,00 </dd>
    </dl>
    <dl>
        <dt>Disney</dt>
        <dd>Um maravilhoso mundo magico e encantado para visitar com toda a família</dd>
        <dd> R$ 10350,00 </dd>
    </dl>
    <dl>
        <dt>Jatoba da Picuinha</dt>
        <dd>Viage para esta cidade no fim do Brasil e viva o cotidiano da cidade</dd>
        <dd> R$ 00,00 </dd>
    </dl>

</div>